body{
    background-color: #272829;
}
header{
    display: flex ;
    height : 8vh;
    background-color: #272829;
    /* box-shadow: 0px 1px 5px 2px rgb(88,88,88); */
    align-items: center;
    
}
.space{
    width : 7vw;
}
a{
    text-decoration: none;
    color : whitesmoke;
}
.bigspace{
    width : 30vw ;
}

.name{
    margin-left: 1vw;
    color: whitesmoke;
    font : 2em ;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}
.name:hover{
    margin-left: 1vw;
    color: orange;
    font : 2em ;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    transition: 0.4s;
}

.logo{
    width : 5vw ;
    height : 100% ;
    display : flex;
    align-items: center;
}

.image{
    width : 200% ;
    height: 180% ;

}

nav{
    
    display : flex ; 
    gap : 2vw ;    
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    transition: all 0.2s linear;
}

nav > div {
    padding: 0.5vw;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    padding-bottom: 0.3vw;
}

.home:hover{
    /* background-color: #181818; */
    border-bottom : 0.1vw solid orange;
}
.skills:hover{
    /* background-color: #181818; */
    border-bottom: 0.1vw solid orange;
}

.projects:hover{
    /* background-color: #181818; */
    border-bottom: 0.1vw solid orange;
    
}
.contact:hover{
    /* background-color: #181818; */
    border-bottom: 0.1vw solid orange;    
}
.resume:hover{
    /* background-color: #181818; */
    border-bottom: 0.1vw solid orange;    
}
.homea{
    display: flex ;
    height : 7vh;     
    align-items: center; 
    justify-content: center;       
    height: 90vh;
    
}
.intro{
    display: flex;
    flex-direction: column;
    color : whitesmoke;
    width: 70%;
    height : 100% ;
    justify-content: center;
    gap : 5vh;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
}
.intro > div > h2 > span:hover{
    color : #F45050;
    transition: 0.4s;
}
.intro > div > h1{
    /* color : goldenrod; */
    margin-bottom:-2vh;}
.intro > div {
    width : 100%; 
}
.into{
    color : goldenrod;
}
.intro > div > h3 > span:hover{
    font-weight: bolder;
    color : rgb(45, 166, 214);
    transition : 0.4s;
}
