body{
    background-color: #272829;
}
header{
    display: flex ;
    height : 8vh;
    background-color: #272829;
    /* box-shadow: 0px 1px 5px 2px rgb(88,88,88); */
    align-items: center;
    
    
}
.space{
    width : 7vw;
}
a{
    text-decoration: none;
    color : whitesmoke;
}
.bigspace{
    width : 30vw ;
}

.name{
    margin-left: 1vw;
    color: whitesmoke;
    font : 2em ;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}
.name:hover{
    margin-left: 1vw;
    color: orange;
    font : 2em ;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    transition: 0.4s;
}

.logo{
    width : 5vw ;
    height : 100% ;
    display : flex;
    align-items: center;
}

.image{
    width : 200% ;
    height: 180% ;

}

nav{
    
    display : flex ; 
    gap : 2vw ;    
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    transition: all 0.2s linear;
    
}

nav > div {
    padding: 0.5vw;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    border-bottom : 0.2vw solid #272829; 
}

.home:hover{
    /* background-color: #181818; */
    border-bottom : 0.2vw solid orange;
}
.skills:hover{
    /* background-color: #181818; */
    border-bottom: 0.2vw solid orange;
}

.projects:hover{
    /* background-color: #181818; */
    border-bottom: 0.2vw solid orange;
    
}
.contact:hover{
    /* background-color: #181818; */
    border-bottom: 0.2vw solid orange;    
}
.resume:hover{
    /* background-color: #181818; */
    border-bottom: 0.2vw solid orange;    
}
.homea{
    display: flex ;
    height : 7vh;     
    align-items: center; 
    justify-content: center;       
    height: 90vh;
    
}
/*Introduction*/
.intro{
    display: flex;
    flex-direction: column;
    color : whitesmoke;
    width: 70%;
    height : 100% ;
    justify-content: center;
    gap : 5vh;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    margin-top: 16vw;
}
.intro > div > h2 > span:hover{
    color : orange;
    transition: 0.4s;
}
.intro > div > h1{
    /* color : goldenrod; */
    margin-bottom:-2vh;}
    .intro > div > h4{
        margin-bottom:-0.1vh;
    }
    .intro > div {
    width : 100%; 
}
.intro > div > h3 > span:hover{
    font-weight: bolder;
    color : rgb(45, 166, 214);
    transition : 0.4s;
}
.about2{
    display: flex;
    background-color: #4D2DB7;
    width: 8vw;
    height: 3vw;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.about2:hover{
    background-color: #371f86;
    box-shadow: 0px 1px 5px 2px whitesmoke ;
}

/*Skills*/
.skillsa{
    width : 98vw ;
    height : 50vh ;
    background-color: #272829;
    border-radius: 10px;
    
  }
  
  .skil{
      display: flex;
      gap: 2vw;
      justify-content: center;
      align-items: center;
      height: 10vh;
      /* translate: translate(0,1vh); */
      color : whitesmoke;
      font-family: 'Montserrat', sans-serif;
      font-weight: bolder;
  }
  
  .skil > h1 {
      font-weight: bolder;
      background-color:#272829 ;
      padding: 1vw;
      border-radius: 10px ;
  }
  .k{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .skills_space{    
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #272829;
      height: 20vh;
      transform: translate(0,3vh);
      width : 95vw;
      border-radius: 15px;
      box-shadow: 0px 1px 5px 2px black ;
  }
  .html_{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #272829;
      border-radius: 50%;
      height: 15vh;
      width: 15vh;
  }
  
  .html_:hover{
      background-color: #181818;
      transform: translateY(-5px);
      box-shadow: 0px 1px 5px 2px whitesmoke ;
  }
  .css_{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #272829;
      border-radius: 50%;
      height: 15vh;
      width: 15vh;
  }
  .css_:hover{
      background-color: #181818;
      transform: translateY(-5px);
      box-shadow: 0px 1px 5px 2px whitesmoke ;
  }
  .c_{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272829;
    border-radius: 50%;
    height: 15vh;
    width: 15vh;
}
.c_:hover{
    background-color: #181818;
    transform: translateY(-5px);
    box-shadow: 0px 1px 5px 2px whitesmoke ;
}
  .cpp_{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #272829;
      border-radius: 50%;
      height: 15vh;
      width: 15vh;
  }
  .cpp_:hover{
      background-color: #181818;
      transform: translateY(-5px);
      box-shadow: 0px 1px 5px 2px whitesmoke ;
  }
  .javascript_{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #272829;
      border-radius: 50%;
      height: 15vh;
      width: 15vh;
  }
  .javascript_:hover{
      background-color: #181818;
      transform: translateY(-5px);
      box-shadow: 0px 1px 5px 2px whitesmoke ;
  }
 