header{
    display: flex ;
    height : 7vh;
    background-color: #272829;
    box-shadow: 0px 1px 5px 2px whitesmoke ;
    align-items: center;
    
}
.space{
    width : 7vw;
}
a{
    text-decoration: none;
    color : whitesmoke
}
.bigspace{
    width : 30vw ;
}

.name{
    margin-left: 1vw;
    color: whitesmoke;
    font : 2em ;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

.logo{
    width : 5vw ;
    height : 100% ;
    display : flex;
    align-items: center;
}

.image{
    width : 100% ;
    height: 90% ;

}

nav{
    
    display : flex ; 
    gap : 2vw ;    
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    transition: all 0.2s linear;
}

nav > div {
    padding: 0.5vw;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
}

.home:hover{
    background-color: #181818;
    border-bottom: 2px solid orange;
}
.skills:hover{
    background-color: #181818;
    border-bottom: 2px solid orange;
}

.projects:hover{
    background-color: #181818;
    border-bottom: 2px solid orange;
    
}
.contact:hover{
    background-color: #181818;
    border-bottom: 2px solid orange;    
}
.resume:hover{
    background-color: #181818;
    border-bottom: 2px solid orange;    
}